@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #040e22;
}

h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-left: 120px;
    font-family: 'Oswald';
}


.movies-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-content: center;           
    width: 100%;                
    padding-top: 30px;
}


.movies-cards {
    justify-content: space-around;
    padding: 20px;
    margin: 0 50px 50px 50px;
}

.movie-card {
    background-color: #374f7a;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    width: 300px;
    color: #fff;
    margin: 15px;
    align-items: center;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    justify-content: space-between;
}

.bookmark-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.bookmark-btn svg {
    cursor: pointer;
    transition: stroke 0.3s ease;
}

.bookmark-btn:hover{
    color:  orangered;
}

.bookmark-btn.active svg{
    color: orangered;
    fill: orangered; 
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-poster {
    width: 100px;
    height: 140px;
    border-radius: 5px;
    margin-right: 15px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 40px; 
}

.title-like-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.movie-title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    font-family: 'Raleway';
}

.like {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ccc;
}

.like-btn.active {
    fill: #ffffff;
    color: #ffffff;
}

.likes-number {
    margin-left: 5px;
    color: #aaaaaa;
}

.movie-duration {
    font-size: 12px;
    color: #aaaaaa;
    margin: 5px 0;
    font-family: 'Roboto';
}

.movie-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.movie-rating {
    position: absolute;
    bottom: 20px;
    left: 90%;
    transform: translateX(-90%);
    display: flex;
    align-items: center;
    gap: 5px;
}
.movie-rating i {
    color: #e6e6e6;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.2s ease;
}
.movie-rating i.active {
    color: orangered;
}

.view-more-btn {
    background-color: orangered;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    width: auto;
    height: 50px;
    margin-right: 120px;
    transition: background-color 0.3s;
    font-family: 'Poppins';
}

.view-more-btn:hover {
    background-color: rgb(209, 57, 2);
}


/* Recommendation-section */

.recommendation-section {
    text-align: center;
    color: #FFF;
    padding: 2rem;
}
.recommendation-swiper {
    height: 80vh;
    max-width: 70%;
    margin: auto;
}

.swiper-wrapper{
    max-width: 100%;
}

.recommendation-swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #102544;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-height: 500px;
}

.recommendation-swiper .swiper-slide img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    height: 350px;
    object-fit: cover;
}

.recommendation-swiper .swiper-slide:hover img {
    transform: scale(1.05);
}

.recommendation-swiper .swiper-slide h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    overflow: hidden;
    font-family: 'Raleway';
}

.recommendation-swiper .swiper-slide p {
    font-size: 0.9rem;
    color: #BBB;
    overflow: hidden;
    font-family: 'Roboto';
}



.swiper-button-prev,
.swiper-button-next {
    color: #FFF;
    background-color: transparent;
    border-radius: 50%;
    width: 25px; 
    height: 25px;  
    font-size: 1.5rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 1.5rem;  
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: transparent;
}

.swiper-pagination-bullet {
    width: 10px; 
    height: 10px;
    background-color: #BBB; 
    opacity: 0.6; 
    margin: 0 6px; 
}

.swiper-pagination-bullet-active {
    background-color: #FFF; 
    opacity: 1; 
}


/* Mobile and tablet responsive styles */
@media (max-width: 768px) {
    .recommendation-section h2 {
        font-size: 1.5rem;
    }

    .recommendation-swiper .swiper-slide {
        max-height: 600px; 
    }

    .recommendation-swiper .swiper-slide img {
        height: 600px;  
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 20px;  
        height: 20px;  
        font-size: 1.2rem;  
    }
}

@media (max-width: 480px) {
    .recommendation-section {
        padding: 1.5rem;
    }

    .recommendation-section h2 {
        font-size: 1.2rem;
    }

    .recommendation-swiper .swiper-slide {
        max-height: 600px; 
    }

    .recommendation-swiper .swiper-slide img {
        height: 600px;  
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 18px;  
        height: 18px;  
        font-size: 1rem;  
    }
}

/* Popular Section Styling */
.popular-section {
    text-align: center;
    color: #FFF;
    padding: 2rem 1rem; 
    margin: 0 60px;
}

.popular-swiper {
    width: 100%; 
    margin: auto;
    padding: 0 1rem;
}

.popular-swiper .swiper-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    background-color: #102544;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 10px;
    height: 600px;
    max-height: 600px;
    transition: transform 0.3s ease; 
    max-width: 300px;
    cursor: pointer;
}

.popular-swiper .swiper-slide:hover {
    transform: scale(1.05); 
}

.popular-swiper .swiper-slide img {
    width: 90%;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}



/* Popular Details Section */
.popular-details {
    text-align: left;
    padding: 1rem 0.5rem;
    color: #FFF;
    flex-grow: 1;
}

.popular-details h3 {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
    color: #1144AA;
    font-family: 'Raleway';
}

.popular-details p {
    font-size: 14px;
    color: #BBB;
    font-family: 'Roboto';
}

.popular-number {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #ff4500;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Swiper Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 3;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: #ff4500;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .popular-section h2 {
        font-size: 1.5rem;
    }
    
    .popular-swiper .swiper-slide {
        max-height: 500px;
    }
}