.navbar{
    justify-content: space-around;
    align-items: center;
    height: 87px;
    width: 100%;
    padding: 0 25px;
    position: fixed;
    background-color: #02081433;
}

.navbar > h1{
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
}

.logo{
    align-items: center;
    color: #FFF;
}

.navbar > ul > li > a{
    font-size: 18px;
    color: #FFF;
}

.navbar > ul{
    justify-content: center;
    gap: 50px;
}

.navbar-tools{
    gap: 20px;
}

.navbar-tools > button{
    width: 76px;
    font-size: 18px;
    padding: 7px 11px;
}

.search-bar > input{
    width: 150px;
    height: 36px;
}

.search-bar > input::placeholder{
    color: #3d3d3d;
}

.search-bar{
    position: relative;
}

.search-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
